// Fonts

$ComfertaFont: 'Comfortaa', cursive;
$FredokaFont: 'Fredoka One', cursive;
$poppinsFont: 'Poppins', sans-serif;

// color
$primaryColor:#e14b31;
$secondaryColor: #22a7f0;
$mutedColor: #a7d5ed;
$headingscolor:#e14b31;
$subheadingscolor:#de6e56;
$paragraphColor:#e1a692;

// #1984c5
// #22a7f0
// #63bff0
// #a7d5ed
// #e2e2e2
// #e1a692
// #de6e56
// #e14b31
// #c23728

// fontsize
$headingsize:48px;
$subheadingssize:20px;

// margins
$MainContainerMargin: 10vh 0 ;
$MainContinerPadding: 10px 10px 10px 10px;

// background color
$mainBackgroundColor: #F2D8CF;


// shadow
$box-shadow1: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// Headings 
$headingcolor : #000000;
$headingFontweight: 900;

// subheadings
$subheadingcolor:#c23728;
$subheadingFontweight : 700;