.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 19;
  will-change: transform;
  transition: transform 200ms linear;
  color: #f0f0f0;
  background-color: #5DADAB;
}

.navbar[class*=-unpinned] {
  transform: translate(0, -150%);
}

.navbar[class*=-pinned] {
  transform: translate(0, 0);
}

.navbar[class*=headroom--not-top] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
  color: #ffc200 !important;
  font-size: 28px;
}
.navbar-brand img {
  width: 250px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}

.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
  color: #f0f0f0;
}

.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
  color: #ffc200;
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  color: #ffc200;
}

.navbar-toggler:focus {
  outline: none;
  color: #ffc200;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:nth-child(2) {
  display: none;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
  color: #ffc200;
}

.navbar-toggler .navbar-toggler-icon {
  background: #fff;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

@media (max-width: 580px) {
  .navbar-toggler .navbar-toggler-icon {
    background: #ffc200;
  }
  .nav-link span {
    color: #ffF;
  }
  #navbarNav {
    background-color: #1a1a1a;
  }
}
.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  -webkit-text-decoration: none #6B7280 solid;
          text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}/*# sourceMappingURL=Navbar.css.map */