@import "../../../../GlobalCss/GlobalCss.scss";
.FaqMainContainer{
    margin: 5em 0;
}
.accordiancontainer {
    font-family: $ComfertaFont;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .accordianheading {
        width: 100%;
        font-size: 64px;
        text-align: center;
        padding: 5px;
        margin :3rem 0 2rem 0;
        // margin-top: 30px;
        // margin-bottom: 20px;
        
            color: $GreenPrimaryColor!important;
        
    }
.accordian {
        margin-top: 0px;
        .question {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 15px 20px;
            display: flex;
            cursor: pointer;
            // font-family: $Poppins;
            color: #333333;
            font-size: 19px;
            font-weight: 500;
            line-height: 1.8em;
            text-align: left;
          

            .questiontriagnleicon {
                margin-right: 7px;
                font-size: 15px;
                margin-top: 10px;
                height: auto;
                //   display: flex;
                //   align-items: center;
            }
        }
        .FaqQuestions{
            display: flex;
            gap: 2em;
            h2{
                font-size: 24px;
                // letter-spacing: 1px;
                    // text-shadow: 0px 1px, 1px 0px, 1px 1px;
                    font-weight: 700;
            }
            .FAQnumber{
                // color: aqua;
                h1{
                    color: #246359;
                    font-size: 40px;
                    letter-spacing: 2px;
                    text-shadow: 0px 2px, 2px 0px, 2px 2px;
                }
            }
        }

        .question.active {
            color: #246359;
            background-color: $greenLigntBackgroundColr;
        }

        .answer {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding-left: 70px;
            color: #333333;
            font-family: "Poppins", Sans-serif;
            font-size: 16px;
            // padding-bottom: 21px;
            margin-top: -1px;
            font-weight: 400;
            line-height: 1.8em;
            // border-top: none;
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s cubic-bezier(0, 1, 0, 1);

            p {
                margin: 10px;
                margin-bottom: 21px;
            }
        }

        .answer.show { background-color: $greenLigntBackgroundColr;
            max-height: 46rem;
            height: auto;
            overflow: hidden;
            transition: all 0.5s cubic-bezier(1, 0, 1, 0);
        }
    }
}