@import "../../../../GlobalCss/GlobalCss.scss";

.MainLandingPageMainContainer {
    margin: 68px 0 0 0;
    overflow: hidden;
    max-height: 100vh;
    min-height: 93vh;
    font-family: $ComfertaFont;
    background-color: $greenLigntBackgroundColr;

    .MainLandingPageContainer {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .MainLandingPageContainerIntro {
            display: flex;
            flex-direction: row;
            gap: 2em;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 6vw;
                color: $GreenPrimaryColor;
                text-shadow: 0px 4px, 4px 0px, 4px 4px;
            }
        }

        .MainLandingPageContainerPara {
            display: flex;
            justify-content: center;

            h5 {
                text-align: center;
                margin: 1em 0 0 0;
                width: 70%;
            }
        }


        .MainLandingPageContainerButtonsConatiner {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            margin: 2em 0 0 0;

            .DonateButton {
                z-index: 1;
                font-weight: 700;
                background-color: #FF7468;
                padding: 15px 40px;
            }

            .button-28 {
                padding: 0px 40px;
            }
        }
    }

    .MainLandingPageMainContainerImg {
        position: absolute;
        overflow: hidden;
        bottom: 0%;
        width: 100%;
        left: 0%;
        right: 10%;

        img {
            width: 100%;
        }
    }
}


@media (max-width:900px) {
    .MainLandingPageMainContainer {
        margin: 68px 0 0 0;
        min-height: 80vh;

        .MainLandingPageContainer {
            .MainLandingPageContainerIntro {
                display: flex;
                flex-direction: column;
                gap: 2em;
                justify-content: center;
                align-items: center;

                h1 {
                    font-weight: 900;
                    line-height: 2.2rem;
                    font-size: 80px;
                    color: #246359;
                    text-shadow: 0px 1px, 1px 0px, 1px 1px;
                }
            }

            .MainLandingPageContainerPara {
                margin: 2em 0 0 0;
                text-align: center;
            }

        }
    }
    .MainLandingPageMainContainerImg {
        display: none;
        position: absolute;
        overflow: hidden;
        bottom: 0%;
        width: 100%;
        left: 0%;
        right: 10%;

        img {
            width: 100%;
        }
    }
}