.DoationBasicDetailFormRSideBody{
    .DoationBasicDetailFormRSideForm{
        .DBDFinputFieldAddress{
            .DBDFinputFieldsAlineStates {
                display: flex;
                gap: 2em;
                .DBDFinputFields{
                    width: 50%;
                }
            }
        }
    }
}