.DoationBasicDetailFormMContainer {
  margin: 68px 0;
  font-family: "Comfortaa", cursive;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DsFRightSide {
  min-height: 93vh;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DsFRightSide .DsFRightSideContent {
  margin: 1em 0 !important;
  padding: 3vh 5vh;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DsFRightSide .DsFRightSideContent h2 {
  font-weight: 700;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DsFRightSide .DsFRightSideContent p {
  color: #246359;
  letter-spacing: 2px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  font-weight: 700;
  font-size: 24px;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DsFRightSide .DsFRigthSideContentImage {
  display: flex;
  justify-content: center;
  align-content: center;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DsFRightSide .DsFRigthSideContentImage img {
  margin: 4vh;
  top: 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DsFRightSide .TermAndCondition {
  text-align: center;
  margin-top: 30px;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DsFRightSide .TermAndCondition a {
  text-decoration: none;
  color: #246359;
  font-weight: 700;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide {
  width: 60%;
  position: relative;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody {
  min-height: 100vh;
  display: flex;
  padding: 0em 0;
  flex-direction: column;
  align-items: center;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody h1 {
  margin: 2em 0 0;
  text-align: center;
  width: 55%;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm {
  margin: 3em 0 0 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .MobileOtpVerifyButton {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .MobileOtpVerifyButton input {
  width: 80%;
  margin-right: 10px;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields label {
  font-weight: 600;
  padding-bottom: 0.5em;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields input {
  border-top: none;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  margin: 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields input:focus {
  outline: none;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .DBDFGender {
  margin: 1em 0 0 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .DBDFGender label {
  font-weight: 400;
  text-shadow: 0px 0px, 0px 0px, 0px 0px;
  padding-bottom: 0.5em;
  font-size: 17px;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .DBDFGender input[type=radio] {
  display: none;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .DBDFGender input:checked + .Male {
  border: solid 1px #000;
  color: #F00;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .DBDFGender input:checked + .Female {
  border: solid 1px #000;
  color: green;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .DBDFGender input:checked + .Bisexual {
  border: solid 1px #000;
  color: green;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .DBDFGender label {
  border: 1px solid black;
  padding: 10px 64px;
  border-radius: 10px;
  margin: 0 2em 0 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields .DBDFGender label:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields input::-webkit-outer-spin-button,
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFinputFields input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.DoationBasicDetailFormMContainer .DoationBasicDetailFormContainer .DoationBasicDetailFormRSide .DoationBasicDetailFormRSideBody .DoationBasicDetailFormRSideForm .DBDFSubmitbuttons {
  margin: 3rem 0 0 0;
}/*# sourceMappingURL=DonationRegistration.css.map */